<div class="w3-container w3-left w3-col s6 w3-center">
    <h3>Solicitudes Propias</h3>
    
    <ul class="w3-ul ">
        {{#each ownRequests as |request|}}
        
            <li  {{#if request.isRejected }}class="w3-text-red"{{/if}} >{{request.kind}} - {{date request.dates.0.start}} /  {{date request.dates.0.end}}
            {{#if request.isPending }}    
                <form action="/request/{{request._id}}/delete" method=POST>
                    <button class="w3-btn w3-text-red w3-round w3-margin" type="submit"><i style='font-size:24px' class='fas'>&#xf2ed;</i> </button> 
                </form>
            {{/if}}
            </li>
         
        {{else}}
            <p>No hay solicitudes.</p>
        {{/each}} 
           
    </ul>
</div>

<div class="w3-container w3-right w3-col s6 w3-center">
    <h3>Solicitudes de Subordinados</h3>

    <ul class="w3-ul ">
        {{#each bossRequests as |request|}}
            <li {{#if request.isRejected }}class="w3-text-red"{{/if}}><a href="/request/{{ request.id }}">{{request.user.name}} - {{request.kind}} - {{date request.dates.0.start}} /  {{date request.dates.0.end}}</a>
            {{#if request.isPending}} 
                <div class="w3-row">
                <form action="/request/{{request._id}}/validate" method=POST>
                    <button class="w3-btn w3-text-green w3-round w3-margin" type="submit"><i style='font-size:24px' class='fas'>&#xf00c;</i></button> 
                </form>
                <form action="/request/{{request._id}}/deny" method=POST>
                    <button class="w3-btn w3-text-red w3-round w3-margin" type="submit"><i style='font-size:24px' class='fas'>&#xf00d;</i> </button> 
                </form>
                </div>
            {{/if}}
            </li>
        {{else}}
            <p>No hay solicitudes.</p>
        {{/each}} 
        
    </ul>
</div>