<h2>Detalles de la Solicitud</h2>
<p><span>Empleado: </span>{{request.user.name}}</p>
<p><span>Clase de solicitud: </span>{{request.kind}}</p>
<p><span>Duración: </span>{{date request.dates.0.start}} /  {{date request.dates.0.end}} - {{request.duration}}h</p>
<p><samp>Causa: </samp>{{request.reason}}</p>
<p><samp>Comentarios: </samp></p>

<a href="/request/list">Volver</a>